@import url("https://use.typekit.net/jwl1yle.css");

@function v($size, $viewport: 750) {
  $rate: 100 / $viewport;
  @return decimal-round($rate * $size * 1vw);
}

@function decimal-round($number, $digits: 2, $mode: round) {
  $n: 1;
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @if $digits > 0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }
  @if $mode == round {
    @return round($number * $n) / $n;
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

$breakpoints: (
  "sp": "screen and(max-width: 749px)",
  "pc": "screen and(min-width: 750px)",
) !default;

@mixin mq($breakpoint: pc) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$sub-card-block-width: 350px;
$side-contents-margin: v(10);
$main-color: #0fd4ff;
$sub1-color: #fd607c;
$sub2-color: #7ae7ff;

dd {
  position: relative;
}
dt {
  position: absolute;
}
img {
  margin-bottom: 0px;
}
main {
  @include mq() {
    width: 1160px;
    margin: auto;

    div.children {
      margin: 100px 0 0 0;
    }
  }
  @include mq(sp) {
    width: 100%;
    margin: auto;

    div.children {
      margin-top: 100px;
    }
  }
}

html {
  background-color: #f8f5f5;
}

header {
  background-color: #e0fff6;
}

.turu {
  @include mq() {
    background: url("/images/gumma_05.png") no-repeat;
    background-size: cover;
    min-width: 1220px;
  }
  @include mq(sp) {
    background: url("/images/gumma_05.png") no-repeat;
    background-size: cover;
    // background-color: blue;
  }
}

footer {
  padding: v(15);
  background: #50e0ff;
  div {
    color: white;
    font-size: v(16);
    margin-left: v(25);
    // text-align: center;
  }
}

.flex-wrap {
  @include mq() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 165px;
  }
  @include mq(sp) {
    margin-top: v(140);
  }
  &:after {
    content: "";
    display: block;

    @include mq() {
      width: $sub-card-block-width;
    }
    @include mq(sp) {
      width: 10%;
    }
    height: 0;
  }
}

.main-cards {
  margin-bottom: 20px;
}

.sub-card-block {
  @include mq() {
    width: $sub-card-block-width;
    max-width: $sub-card-block-width;
    min-width: $sub-card-block-width;
    padding-bottom: 70px;
  }
  @include mq(sp) {
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    margin: auto;
    margin-bottom: v(121);
    // padding-bottom: 30px;
  }
}

.sub-card {
  margin-bottom: 0px;
  @include mq(sp) {
    position: relative;
  }
  .card-content {
    padding-top: 18px;
    .date {
      @include mq() {
        font-size: 14px;
        letter-spacing: 0;
      }
      @include mq(sp) {
        font-size: v(25);
        margin-top: v(18);
      }
      color: #111111;
    }
    .title-line-1 {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      @include mq() {
        margin-top: 5px;
        font-size: 19px;
        height: 1.9em;
        line-height: 1.9em;
      }
      @include mq(sp) {
        font-size: v(30);
      }

      overflow: hidden;
      font-weight: bold;
      margin-bottom: 0;
      text-align: left;
      color: #333;
    }
    .title-line-2 {
      display: -webkit-box;

      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: bold;
      text-align: left;
      color: #333;
      @include mq() {
        -webkit-line-clamp: 2;
        font-size: 16px;
        -webkit-line-clamp: 2;
        height: 3.8em;
        line-height: 1.9em;
      }
      @include mq(sp) {
        -webkit-line-clamp: 1;
        font-size: v(25);
        -webkit-line-clamp: 1;
        margin-top: v(11);
      }
    }
    .discription {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: normal;
      margin-bottom: 0;
      text-align: left;
      color: #333;
      @include mq() {
        font-size: 14px;
        -webkit-line-clamp: 2;
        height: 3.8em;
        line-height: 1.9em;
      }
      @include mq(sp) {
        display: none;
        font-size: v(30);
        -webkit-line-clamp: 1;
      }
    }
    .tag {
      display: flex;
      // letter-spacing: v(1);
      @include mq() {
        font-size: 12px;
      }
      @include mq(sp) {
        font-size: v(21);
        margin-top: v(14);
      }

      // font-size: 10px;
      color: #a8a8a8;
      line-height: 1.8em;
      overflow: hidden;
      text-decoration: underline;
      div {
        @include mq() {
          margin-right: 10px;
        }
        @include mq(sp) {
          margin-right: v(20);
        }
      }
    }
  }
  .profile {
    @include mq() {
      display: table;
      margin-top: 12px;
      padding: auto;
    }
    @include mq(sp) {
      display: none;
      margin-top: v(12);
    }
    .avatar {
      @include mq() {
        width: 29px;
        height: 29px;
      }
      @include mq(sp) {
        width: v(38);
        height: v(38);
      }

      background-color: #219ddd;
      border-radius: 50%;
      margin-right: 10px;
    }
    .name {
      color: #a8a8a8;
      display: table-cell;
      font-weight: bold;
      vertical-align: middle;
      // font-size: 12px;
      @include mq() {
        font-size: 14px;
      }
      @include mq(sp) {
        font-size: v(20);
      }
    }
  }
  //携帯かつランキングではない時だけ表示
  .profile2 {
    display: table;
    //pcは非表示
    @include mq() {
      display: none;
    }
    @include mq(sp) {
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
    .avatar {
      @include mq(sp) {
        width: v(35);
        height: v(35);
      }

      background-color: #219ddd;
      border-radius: 50%;
      margin-right: 10px;
    }
    .name {
      color: #a8a8a8;
      display: table-cell;
      font-weight: bold;
      vertical-align: middle;
      // font-size: 12px;
      @include mq() {
        font-size: 14px;
      }
      @include mq(sp) {
        font-size: v(20);
      }
    }
  }
  .profile3 {
    display: table;
    @include mq() {
      margin-top: 12px;
      padding: auto;
    }
    @include mq(sp) {
      margin-top: v(12);
    }
    .avatar {
      @include mq() {
        width: 29px;
        height: 29px;
      }
      @include mq(sp) {
        width: v(38);
        height: v(38);
      }

      background-color: #219ddd;
      border-radius: 50%;
      margin-right: 10px;
    }
    .name {
      color: #a8a8a8;
      display: table-cell;
      font-weight: bold;
      vertical-align: middle;
      // font-size: 12px;
      @include mq() {
        font-size: 14px;
      }
      @include mq(sp) {
        font-size: v(20);
      }
    }
  }
  .card-img-block {
    // background-color: blue;
    overflow: hidden;
    @include mq() {
      width: 350px;
      height: 258px;
      border-radius: 30px;
    }
    @include mq(sp) {
      height: v(450);
      // padding-bottom: 59%;
      border-radius: v(50);
    }

    div {
      width: 100% !important;
      height: 100% !important;
    }

    img {
      @include mq() {
      }
      @include mq(sp) {
      }
    }
  }

  //750px以下かつ携帯
  .card-img-block2 {
    position: relative;
    // background-color: blue;
    overflow: hidden;
    @include mq() {
      // width: 5000px;
      border-radius: 30px;
      height: 258px;
    }
    @include mq(sp) {
      height: v(350);
      border-radius: v(50);
      // padding-bottom: 74%;
      margin-bottom: v(10);
    }
    div {
      width: 100% !important;
      height: 100% !important;
    }

    img {
      @include mq() {
      }
      @include mq(sp) {
      }
    }
  }
}

.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}

.banner {
  width: 100%;
  position: relative;
  background-color: #f00;
  img {
    width: 100%;
    margin-bottom: $side-contents-margin;
    display: block;
    object-fit: cover;
    overflow: hidden;
    background-color: #000;
  }
}

.side-card-template {
  width: 100%;

  border-radius: v(1);
  box-shadow: v(1) v(1) v(5) #ccc;
  position: relative;
  margin-bottom: $side-contents-margin;
  .title {
    padding: v(10);
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.05em;
  }
  .line {
    height: 4px;
    .side {
      margin: 0;
      width: 30%;
      background-color: $main-color;
    }
    .center {
      margin: 0;
      width: 40%;
      background-color: $sub2-color;
    }
  }
  ul {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin side-card-content($width) {
  width: $width;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding-bottom: 10px;
  img {
    margin-bottom: 10px;
  }
}

.profile-card {
  @include side-card-content(80%);
  .bio {
    margin-bottom: v(10);
    .name {
      font-weight: bold;
      font-size: v(10);
      margin-bottom: v(4);
    }
    .profile {
      font-weight: 500;
      font-size: v(6);
    }
  }
  .button {
    margin-left: auto;
    margin-bottom: v(15);
    width: 45%;
    font-weight: bold;
    font-size: v(7);
    text-align: center;
    color: white;
    background: $main-color;
    border-radius: v(10);
  }
}

@keyframes infinity-loop {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

.category-bar {
  @include mq() {
    margin-top: 140px;
    width: 100%;
    min-width: 750px;
    max-width: 1920px;
    height: 88px;
  }

  @include mq(sp) {
    margin-top: v(93);
    max-width: 1920px;
    height: v(90);
  }
  background-color: #000;
  overflow: auto;
  &::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
  text-align: center;
  .category-content {
    display: flex;

    height: 100%;
    @include mq() {
      justify-content: center;
    }
    @include mq(sp) {
      justify-content: left;
    }
    // animation: infinity-loop 10s infinite linear 1s both;
    .link {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: nowrap;
      text-decoration: none;
      @include mq() {
        margin: auto 15px;
      }
      @include mq(sp) {
        margin: auto v(20);
      }

      .category-tag {
        color: #fff;
        @include mq() {
          font-size: 16px;
        }
        @include mq(sp) {
          font-size: v(23);
        }
      }
    }
  }
}

.category-card {
  @include side-card-content(80%);

  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      margin-right: v(5);
      padding: v(2) v(6) v(2);
      background: $sub1-color;
      div {
        font-size: v(6);
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.ranking-title {
  @include mq() {
    width: 1160px;
    margin: 100px auto 20px auto;
  }
  @include mq(sp) {
    width: 100%;
    height: auto;
    margin-top: v(120);
    margin-bottom: v(60);
  }
}

.ranking-box {
  @include mq() {
    // width: 1160px;
    width: 100%;
  }
  @include mq(sp) {
    width: 100%;
    position: relative;
  }

  margin: auto;

  .ranking-card {
    @include mq() {
      // width: 100%;
      width: 1215px;
      margin: 0 auto;
      // overflow: auto;
      // // background-color: blue;
      // display: flex;
      // scroll-snap-type: x mandatory;
    }
    @include mq(sp) {
      width: 100%;
      margin: auto;
      // overflow: auto;
      // -ms-overflow-style: none; /* IE, Edge 対応 */
      // scrollbar-width: none;
      // display: flex;
    }
    // &::-webkit-scrollbar {
    //   /* Chrome, Safari 対応 */
    //   display: none;
    // }

    .cards {
      @include mq() {
        width: 350px;
        min-width: 350px;
        margin: 0px 27.5px;
      }
      @include mq(sp) {
        $ranking-card-width: v(490);
        width: $ranking-card-width;
        min-width: $ranking-card-width;
        max-width: $ranking-card-width;
        margin-right: v(5);
        margin-left: v(40);
      }
      scroll-snap-align: start;
    }
  }
  $arrow-length: 30px;
  $box-top: 100px;
  $arrow-length-sp: v(30);
  $box-size-sp: v(80);
  $box-top-sp: 30%;
  position: relative;
  .ranking-left-arrow {
    @include mq() {
      width: 80px;
      height: 80px;
      top: $box-top;
      opacity: 0.5;
      left: calc(50% - 600px);
      position: absolute;
      background-color: #000;
      display: flex;
      align-items: center;
    }
    @include mq(sp) {
      width: $box-size-sp;
      height: $box-size-sp;
      top: $box-top-sp;
      opacity: 0.5;
      left: v(20);
      position: absolute;
      background-color: #000;
      display: flex;
      align-items: center;
    }

    .left-arrow {
      @include mq() {
        width: $arrow-length;
        height: $arrow-length;
      }
      @include mq(sp) {
        width: $arrow-length-sp;
        height: $arrow-length-sp;
      }
      position: absolute;
      right: 12.5px;

      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(45deg);
    }
  }
  .ranking-right-arrow {
    @include mq() {
      width: 80px;
      height: 80px;
      top: $box-top;
      right: calc(50% - 600px);
      position: absolute;
      background-color: #000;
      opacity: 0.5;
      display: flex;
      align-items: center;
    }
    @include mq(sp) {
      width: $box-size-sp;
      height: $box-size-sp;
      top: $box-top-sp;
      right: v(20);
      position: absolute;
      background-color: #000;
      opacity: 0.5;
      display: flex;
      align-items: center;
    }

    .right-arrow {
      @include mq() {
        width: $arrow-length;
        height: $arrow-length;
      }
      @include mq(sp) {
        width: $arrow-length-sp;
        height: $arrow-length-sp;
      }
      position: absolute;
      left: 12.5px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
    }
  }
}

.popular-card {
  @include side-card-content(80%);
  ul {
    li {
      display: flex;
      color: black;

      .rank {
        font-weight: bold;
        font-size: v(10);
        margin-right: v(4);
        margin-top: 0;
      }
      .article {
        .article-titles {
          margin-top: 0;
          font-weight: 500;
          font-size: v(8);
          display: -webkit-box;
          overflow: hidden;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          max-height: 5.4em;
          line-height: 1.8em;
        }

        .details {
          display: flex;
          font-size: v(6);
          .date {
          }
          .material-icons {
            color: $main-color;
            margin-left: v(5);
          }
          .views {
            color: $main-color;
            margin-left: v(1);
          }
        }
      }
    }
  }
}

.readmore {
  text-align: center;
  margin: auto;
  @include mq() {
    width: 251px;
  }
  @include mq(sp) {
    width: v(500);
  }
  img {
    @include mq() {
    }
    @include mq(sp) {
      // height: v(100);
    }

    margin: 0px auto 0px auto;
  }
}

.wrap {
  overflow: hidden;
}

#header-box {
  @include mq() {
    min-width: 1220px;
    height: 360px;
    background: url("/images/header.png") no-repeat;
    background-size: cover;
    background-color: #000;
  }

  @include mq(sp) {
    width: 100%;
    padding-bottom: 124%;
    background: url("/images/header-sp.png") no-repeat;
    background-size: cover;
    position: relative;
  }

  .content-width {
    margin: auto;
    position: relative;
    @include mq() {
      width: 1160px;
      height: 100%;
    }
    @include mq(sp) {
      width: 100%;
      height: 100%;
    }
    .home-links1 {
      color: black;
      position: absolute;
      display: flex;
      align-items: center;
      @include mq() {
        left: 0;
        top: 35px;
      }
      @include mq(sp) {
        left: v(45);
        top: v(45);
      }

      img {
        @include mq() {
          margin: 0;
          width: 18px;
          height: 18px;
        }
        @include mq(sp) {
          margin: 0;
          width: v(40);
          height: v(40);
        }
      }
      .affexion {
        font-family: "aktiv-grotesk";
        font-weight: normal;

        @include mq() {
          line-height: 18px;
          font-size: 16px;
          margin-left: 20px;
          letter-spacing: 5px;
        }
        @include mq(sp) {
          font-size: v(30);
          letter-spacing: v(8);
          line-height: v(30);
          margin-left: v(35);
        }
      }
    }
    .home-links2 {
      text-align: end;
      color: black;
      position: absolute;
      padding: 0 0 0 0;
      display: flex;
      @include mq() {
        right: 0;
        top: 30px;
      }
      @include mq(sp) {
        font-size: v(20);
        right: v(45);
        top: v(45);
      }
      .offical-site {
        overflow: hidden;
        white-space: nowrap;
        @include mq() {
          margin-right: 5px;
          letter-spacing: 1px;
          font-size: 16px;
        }
        @include mq(sp) {
          margin-right: v(5);
          letter-spacing: v(2);
          font-size: v(20);
        }
      }
      .contact-infomation {
        @include mq() {
          // position: relative !important;
          padding: 0;
          width: 18px;
          // height: 18px;
          margin: auto 5px auto 18px;
        }
        @include mq(sp) {
          padding: 0;
          width: v(30);
          margin: auto 5px auto v(20);
        }
      }
    }
  }

  .header-discription {
    @include mq() {
      position: absolute;
      letter-spacing: 1px;
      line-height: 36px;
      left: 0;
      bottom: -113px;
    }
    @include mq(sp) {
      position: absolute;
      font-size: v(25);
      line-height: v(49);
      font-weight: normal;
      letter-spacing: v(1);
      left: v(40);
      top: v(505);
    }
    span.head {
      @include mq() {
        background-color: #deff00;
        padding: 13px 8px;
        line-height: 50px;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 22px;
      }
      @include mq(sp) {
        background-color: #deff00;
        padding: v(12) v(12);
        letter-spacing: v(7);
        font-weight: bold;
        font-size: v(27);
      }
    }
    span {
      @include mq() {
        background-color: #ffffff;
        padding: 9px 8px;
        font-size: 20px;
      }
      @include mq(sp) {
        background-color: #ffffff;
        padding: v(13) v(11);
      }
    }
  }
  .header-blog {
    @include mq() {
      width: 483px;
      transform: translateY(50%);
      position: absolute;
      bottom: 0px;
      left: 50%;
    }
    @include mq(sp) {
      max-width: 100%;
      min-width: 100%;
      position: absolute;
      top: v(820);
    }
    img {
      @include mq() {
        width: auto;
        height: auto;
      }
      @include mq(sp) {
        width: 100%;
        height: auto;
      }
    }
  }

  .scroll-image {
    @include mq() {
      width: 12px;
      transform: translateY(50%);
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
    @include mq(sp) {
      position: absolute;
      right: v(20);
      top: v(500);
    }
    img {
      @include mq() {
        width: auto;
        height: auto;
      }
      @include mq(sp) {
        width: v(20);
      }
    }
  }

  .home-admin {
    font-size: 20px;
    color: black;
    position: absolute;
    right: 10px;
    top: 0;
  }
}

.contact-us-box {
  text-align: center;
  color: #000;
  .contact-us {
    @include mq() {
      margin-top: 65px;
      font-size: 58px;
      font-weight: bold;
      letter-spacing: 12px;
    }
    @include mq(sp) {
      margin-top: v(105);
      font-size: v(70);
      font-weight: bold;
      letter-spacing: v(12);
    }
  }

  .otoiawase {
    @include mq() {
      margin-bottom: 50px;
      font-size: 14px;
      letter-spacing: 2px;
    }
    @include mq(sp) {
      margin-bottom: v(50);
      margin-top: v(10);
      font-size: v(20);
      letter-spacing: v(8);
    }
  }
  .scroll-to-top {
    @include mq() {
      font-size: 16px;
      padding-bottom: 20px;
      letter-spacing: 2px;
    }
    @include mq(sp) {
      font-size: v(35);
      padding-bottom: v(40);
      letter-spacing: v(6);
    }

    div.top {
      // width: 40px;
      margin: auto;
      text-align: center;
      @include mq() {
        margin-left: 4px;
        margin-bottom: 25px;
      }
      @include mq(sp) {
        margin-left: v(8);
        margin-bottom: 0px;
      }

      // background-color: red;
      cursor: pointer;
    }
    .upper-arrow {
      cursor: pointer;
      margin: auto;
      content: "";
      @include mq() {
        width: 21px;
        height: 21px;
        border-right: 1px solid #777;
        border-top: 1px solid #777;
      }
      @include mq(sp) {
        width: v(50);
        height: v(50);
        border-right: v(2) solid #777;
        border-top: v(2) solid #777;
        margin-bottom: -3.3vw;
      }

      transform: rotate(-45deg);
      margin-bottom: -12px;
    }
  }
}

.footer-box {
  @include mq() {
    min-width: 1220px;
  }
  @include mq(sp) {
    // min-width: 1200px;
  }
  text-align: center;
  color: #fff;
  // margin-top: 25px;
  .links {
    background-color: #282a2c;

    @include mq() {
      height: 120px;
    }
    @include mq(sp) {
    }
    display: flex;
    justify-content: center;
    .official-site {
      @include mq() {
        padding: 53px 0px;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 1px;
      }
      @include mq(sp) {
        font-size: v(22);
        padding: v(47) 0px;
        margin-right: v(30);
      }
    }

    .contact-infomation {
      @include mq() {
        width: 22px;
        // height: 18px;
        padding: 0;
        margin: auto 0px auto 18px;
      }
      @include mq(sp) {
        width: v(35);
        padding: 0;
        margin: auto 0px auto v(32);
      }
      img {
        filter: invert(1) !important;
      }
    }
  }
  .infomations {
    background-color: #000;
    @include mq() {
      height: 200px;
    }
    @include mq(sp) {
      height: v(350);
    }
    padding: auto;
    .adresses {
      @include mq() {
        font-size: 14px;
        padding-top: 40px;
        line-height: 30px;
        letter-spacing: 1px;
      }
      @include mq(sp) {
        font-size: v(25);
        padding-top: v(70);
        line-height: v(51);
      }
    }

    .copy-write {
      @include mq() {
        font-size: 11px;
        padding-top: 35px;
        // padding-bottom: 30px;
      }
      @include mq(sp) {
        font-size: v(23);
        font-weight: normal;
        padding-top: v(45);
        letter-spacing: v(1);
        // margin-bottom: v(1000);
        // padding-bottom: v(50);
      }
    }
  }
}

.dummy-left {
  width: calc(50% - 552.5px);
  min-width: calc(50% - 552.5px);
  content: "";
  // background-color: red;
  // color: red;
}
.dummy-right {
  min-width: calc(50% - 607.5px);
  content: "";
  // background-color: red;
}

.blog-post {
  background-color: #fff;
  @include mq() {
    width: 100%;
    border-radius: 50px;
    margin-top: 150px;
    padding: 140px;
  }
  @include mq(sp) {
    width: 88%;
    border-radius: v(50);
    margin: v(150) auto 0px;
    padding: v(60) v(50);
  }
  .title {
    font-weight: bold;
    @include mq() {
      font-size: 32px;
    }
    @include mq(sp) {
      font-size: v(42);
    }
  }

  .infomations {
    @include mq() {
      display: flex;
      margin-top: 10px;
    }
    @include mq(sp) {
      display: flex;
      margin-top: v(15);
    }
    .date {
      @include mq() {
      }
      @include mq(sp) {
        font-size: v(22);
      }
    }
    .avatar {
      @include mq() {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #219ddd;
        margin: auto 10px auto 20px;
      }
      @include mq(sp) {
        width: v(30);
        height: v(30);
        border-radius: 50%;
        background-color: #219ddd;
        margin: auto 10px auto 20px;
      }
    }
    .name {
      color: #a8a8a8;
      @include mq() {
        font-size: 18px;
      }
      @include mq(sp) {
        font-size: v(22);
      }
    }
  }

  .text {
    // line-height: 0px;
    @include mq() {
      margin-top: 25px;
    }
    @include mq(sp) {
      margin-top: v(25);
    }
  }
  ul.taglist {
    list-style: none;
    display: flex;
    @include mq() {
      margin: 60px auto 0px 0px;
      font-size: 14px;
      position: relative;
    }
    @include mq(sp) {
      margin: v(20) auto v(50) -1.5vw;
      font-size: v(20);
      position: relative;
    }
    Link {
    }
    li {
      color: #a8a8a8;
      text-decoration: none;
      @include mq() {
        margin-right: 20px;
        margin-bottom: 0px;
      }
      @include mq(sp) {
        margin-right: v(20);
        margin-bottom: 0px;
      }
    }
  }
  .images {
    @include mq() {
      position: absolute;
      right: 0px;
    }
    @include mq(sp) {
      position: absolute;
      right: 0px;
      bottom: -10vw;
    }
    img {
      @include mq() {
        margin-left: 15px;
        margin-bottom: 0px;
      }
      @include mq(sp) {
        margin-left: v(12);
        height: v(45);
        margin-bottom: 0px;
      }
    }
  }
}

.nav {
  display: -webkit-flex;
  display: flex;

  @include mq() {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 60px;
  }
  @include mq(sp) {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: v(50) auto 0;
  }
  img {
    margin-bottom: 0px;
  }
  .back {
    @include mq() {
    }
    @include mq(sp) {
    }
    img {
      margin-top: -10px;
      margin-right: 20px;
    }
  }
  .next {
    @include mq() {
    }
    @include mq(sp) {
    }
    img {
      margin-top: -10px;
      margin-left: 20px;
    }
  }
  .toppage {
    @include mq() {
    }
    @include mq(sp) {
    }
  }
}
